.navbar {
display: flex;
justify-content: space-between;
padding: 20px;
background-color: #e07676;
color: white;
}

.product-grid{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap : 20px;
padding : 90px

}
.card img{
  height: 110px;
  object-fit: cover;
}
.card {
padding : 30px;
border: 4px solid rgb(231, 158, 158);
text-align: center;
border-radius: 10px;
}

.card button {
  padding: 10px 15px;
  background-color: #eb8989;
  color: rgb(20, 17, 17);
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.modal-bacdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  inset: 0;
  text-align: left;
}

.modal {
  background-color: rgb(233, 222, 222);
  padding:10px;
  width: 90%px;
  max-width: 700px;
  border-radius: 5px;
  overflow-y: scroll; 
}

.cart-btn{
  width: 200px;
  align-items: center;
  color :rgb(10, 11, 12);
  background-color: rgb(218, 180, 180);
  border-radius: 10px;
}
.cart-item {
  display: flex;
  padding: 5px;
  align-items: center;
 gap: 20px;
}
.cart-item img {
  height: 50px;
}

.remove-cart-btn{
background-color: rgb(94, 113, 168);
padding: 6px;
color :white;
font-size: 15px;
border-radius: 5px;
}

.close-cart-btn{
background-color: rgb(177, 80, 80);
padding: 6px;
border-radius: 5px;
}

.title {
  font-size: 16px;
  margin: 10px;
  align-items: left;
}

.amount {
  font-size: 16px;
  display: fixed;
  padding: 10px;
  text-align: center;
}